
numpy
scipy 
pandas
matplotlib
yfinance == 0.2.31
pandas-datareader
streamlit
plotly
polygon-api-client
requests
altair
mpld3
seaborn
ta
pandas-ta
setuptools
beautifulsoup4
selenium 
webdriver_manager 
pwlf
piecewise_regression 
